# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=hemonexus
DB_USERNAME=root
DB_PASSWORD=

# Frontend API URL
FRONTEND_API_URL=http://localhost:8080

# Backend Configuration
SERVER_PORT=8080

# ML Service Configuration
ML_SERVICE_PORT=8000
